lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp

pids
logs
results
tmp

# API keys and secrets
.env

# Dependency directory
node_modules
bower_components

# documentation directory
doc

# bundled scripts
public/js/bundle.js.map
public/js/bundle.js

# Editors
.idea
*.iml

# OS metadata
.DS_Store
Thumbs.db
