extends layout

block content
  h1 Hackathon Starter
  p.lead Calculate the Numerological value of text (sample React Component, you'll probably want to remove it)
  hr
  div#demo
  script(type='text/javascript',src='js/bundle.js')